@{
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Site Metas -->
    <title>Exchange Currency - Responsive HTML5 Template</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="#" type="image/x-icon" />
    <link rel="apple-touch-icon" href="#" />

    <!-- Bootstrap CSS -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Pogo Slider CSS -->
    <link href="~/assets/css/pogo-slider.min.css" rel="stylesheet" />
    <!-- Site CSS -->
    <link href="~/assets/css/style.css" rel="stylesheet" />
    <!-- Responsive CSS -->
    <link href="~/assets/css/responsive.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="~/assets/css/custom.css" rel="stylesheet" />
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="inner_page" data-spy="scroll" data-target="#navbar-wd" data-offset="98">

    <!-- LOADER -->

    <!-- end loader -->
    <!-- END LOADER -->
    <header class="top-header">
        <div class="header_top">

            <div class="container">
                <div class="row">
                    <div class="logo_section">
                        <a class="navbar-brand" href="index.html"><img src="~/assets/logo.png" style="width: 50%;" alt="image"></a>
                    </div>
                    <div class="site_information">
                        <ul>
                            <li><a href="mailto:contact@eshoppriceschecker.com"><img src="~/assets/images/mail_icon.png" alt="#" />contact@shopchecker.com</a></li>
                            <li><a href="tel:contact@eshoppriceschecker.com"><img src="~/assets/images/phone_icon.png" alt="#" />+962 781042336</a></li>
                            <li><a class="join_bt" asp-action="Register" asp-controller="Account">Join us</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="header_bottom">
            <div class="container">
                <div class="col-sm-12">
                    <div class="menu_orange_section" style="background: #ff880e;">
                        <nav class="navbar header-nav navbar-expand-lg">
                            <div class="menu_section">
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd" aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </button>
                                <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
                                    <ul class="navbar-nav">
                                        <li><a class="nav-link active" asp-action="index" asp-controller="Home">Home</a></li>
                                        <li><a class="nav-link" asp-action="About" asp-controller="Home">About</a></li>
                                        <li><a class="nav-link" asp-action="index" asp-controller="Dashboard"> Compare & Choose</a></li>
                                        <li><a class="nav-link" asp-controller="Home" asp-action="Contact">Contact</a></li>
                                        <li><a class="nav-link" asp-controller="Account" asp-action="Register">Start</a></li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                        <div class="search-box">
                            <input type="text" class="search-txt" placeholder="Search">
                            <a class="search-btn">
                                <img src="~/assets/images/search_icon.png" alt="#" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>
    <!-- Start Banner -->
    <div class="section inner_page_banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="banner_title">
                        <h3>About us</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Banner -->
    <!-- section -->
    <div class="section layout_padding about_bg">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="full paddding_left_15">
                        <div class="heading_main text_align_left">
                            <h2>About</h2>
                        </div>
                    </div>
                    <div class="full paddding_left_15">
                        <p>
                            The E-Shop Prices Checker is a user-friendly platform designed to simplify online shopping by enabling seamless price comparisons across various registered e-shops. This innovative solution helps consumers save time and money while empowering small and medium-sized businesses to gain visibility in a competitive market. With advanced search capabilities and a focus on transparency, the platform creates a balanced and efficient e-commerce experience for all users.
                        </p>
                    </div>
                    <div class="full paddding_left_15">
                        <a class="main_bt" href="#">Read More ></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="full text_align_right_img">
                        <img src="~/assets/img-6.png" style="margin: 0px -55px;" alt="#" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->
    <!-- section -->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="full text_align_right_img">
                        <img src="~/assets/img-3.png" alt="#" />
                    </div>
                </div>
                <div class="col-md-6 layout_padding">
                    <div class="full paddding_left_15">
                        <div class="heading_main text_align_left">
                            <h2><span class="theme_color">Welcome</span> To Checker</h2>
                        </div>
                    </div>
                    <div class="full paddding_left_15">
                        <p>
                            Welcome to the E-Shop Prices Checker! Our platform is dedicated to transforming your online shopping experience by providing seamless price comparisons across multiple e-shops. Designed for consumers who value time and savings, as well as small businesses seeking greater visibility, our mission is to foster transparency and convenience in e-commerce. Explore, compare, and shop smarter with E-Shop Prices Checker.
                        </p>
                    </div>
                    <div class="full paddding_left_15">
                        <a class="main_bt" href="#">About more ></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Footer -->
    <footer class="footer-box">
        <div class="container">
            <div class="row">
                <div class="col-md-12 white_fonts">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="full">
                                <img class="img-responsive" src="~/assets/images/footer_logo.png" alt="#" />
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="full">
                                <h3>Quick Links</h3>
                            </div>
                            <div class="full">
                                <ul class="menu_footer">
                                        <li><a  asp-action="index" asp-controller="Home">Home</a></li>
                                        <li><a  asp-action="About" asp-controller="Home">About</a></li>
                                        <li><a  asp-action="index"  asp-controller="Dashboard"> Compare & Choose</a></li>
                                        <li><a  asp-controller="Home" asp-action="Contact">Contact</a></li>
                                        <li><a  asp-controller="Lgoin" asp-action="Account">Start</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="full">
                                <div class="footer_blog full white_fonts">
                                    <h3>Newsletter</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
                                    <div class="newsletter_form">
                                        <form action="index.html">
                                            <input type="email" placeholder="Your Email" name="#" required="">
                                            <button>Submit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3">
                            <div class="full">
                                <div class="footer_blog full white_fonts">
                                    <h3>Contact us</h3>
                                    <ul class="full">
                                        <li><img src="~/assets/images/i5.png"><span>London 145<br>United Kingdom</span></li>
                                        <li><img src="~/assets/images/i6.png"><span>demo@gmail.com</span></li>
                                        <li><img src="~/assets/images/i7.png"><span>+12586954775</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->

    <div class="footer_bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="crp">© Copyrights 2019 design by html.design</p>
                </div>
            </div>
        </div>
    </div>

</body>
</html>